<h1 class="mb-4"><%=t("sessions.new.auth")%></h1>
<% if no_signed_in? %>
  <div class='article'>
    <div class="card-body bg-white text-dark">
      <%= form_with url: session_path do |f| %>
        <div class="mb-3 row">
          <%= f.label 'E-Mail', class: "col-sm-2 col-form-label" %><br/>
          <div class="col-sm-4">
            <%= f.email_field :email, required: true, minlegth: 7, placeholder: "example@email.com", class: "form-control" %>
          </div>
        </div>
        <div class="mb-3 row">
          <%= f.label "#{t("sessions.new.password")}", class: "col-sm-2 col-form-label" %><br/>
          <div class="col-sm-4">
            <%= f.password_field :password, required: true, minlegth: 12,  class: "form-control" %>
          </div>
        </div>
        <%= f.submit "#{t("sessions.new.log_in")}", class: "btn btn-primary" %>
      <% end %>
      <div class="my-3">
        <a href='http://localhost:3000/users/new' onmouseup="MousePaint(event, '#ffc107', '#0d6efd')" onmousedown="MousePaint(event, '#ffc107', '#0d6efd')"><%= t("users.new.register_btn") %></a>
      </div>
    </div>
  </div>
<% end %>