<h2 class="mb-4"><%= t("users.edit.edit") %></h2>
<% if signed_in? %>
  <div class='article'>
    <div class="card-body bg-white text-dark">
      <%= form_with model: @user do |f| %>
        <div class="mb-3 row">
          <%= f.label 'E-Mail', class: "col-sm-2 col-form-label" %>
          <div class="col-sm-4">
            <%= f.email_field :email, required: true, minlegth: 7, placeholder: "example@email.com", class: "form-control" %>
          </div>
        </div>
        <div class="mb-3 row">
          <%= f.label "#{t("users.edit.nickname")}", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-4 my-2">
            <%= f.text_field :nickname, required: true, minlegth: 5, placeholder: "Jpyatachkov", class: "form-control" %>
          </div>
        </div>
        <div class="mb-3 row">
          <%= f.label "#{t("users.edit.password")}", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-4">
            <%= f.password_field :password, required: true, minlegth: 12,  class: "form-control" %>
          </div>
        </div>
        <div class="mb-3 row">
          <%= f.label "#{t("users.edit.confirm_password")}", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-4 my-3">
            <%= f.password_field :password_confirmation, required: true, minlegth: 12, class: "form-control" %>
          </div>
        </div>
        <%= f.submit "#{t("users.edit.edit_btn")}", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>